<tui-theme-night></tui-theme-night>

<tui-root [tuiMode]="'onDark'">
  <div class="tui-container tui-container_adaptive">
    <tui-app-bar>
      <button tuiButton tuiSlot="left">
        Back
      </button>
      Хуй
      <button tuiButton tuiSlot="right">
        Action
      </button>
    </tui-app-bar>

    <div
      tuiCardLarge
      tuiSurface="elevated"
    >
      <div tuiHeader>
        <h2 tuiTitle>
          Title
          <span tuiSubtitle>Subtitle</span>
        </h2>

        <aside tuiAccessories>
          <tui-avatar
            appearance="primary"
            src="tuiIconStar"
          ></tui-avatar>
        </aside>
      </div>

      <footer>
        <button
          appearance="secondary"
          size="m"
          tuiButton
          type="button"
        >
          Label
        </button>
      </footer>
    </div>
  </div>



</tui-root>
